.Heading {
    text-align: center;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aqua;
    width: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

span {
    color: aliceblue;
    font-weight: bolder;
}

.Home-link {
    text-align: center;
}

.Timestamp {
    text-align: center;
    font-style: italic;
}

table {
    border-collapse
}

th, td {
    border: 1px solid blue;
    padding: 10px;
}

ul {
    list-style: none;
}

a:link, a:visited {
    background-color: rgb(195, 247, 247);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    background-color: aqua;
    color: blue;
}